* {
    text-align: center;
    background-color: navajowhite;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 18px;
}

button {
    font-weight: bold;
    font-size: 30px;
    background-color: white;
    height: 100px;
    width: 250px;
}